{{#if success}}
<div id="success" class="container p-7">
    <div class="row">
        <div class="col-md-7 mx-auto">
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{success}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
</div>
{{/if}}

{{#if error}}
<div id="error" class="container p-7">
    <div class="row">
        <div class="col-md-7 mx-auto">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{error}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
</div>
{{/if}}
<style>
    #success{
        font-family: 'Bree Serif', serif;
    }
    #error{
        font-family: 'Bree Serif', serif;
    }
</style>