<!--Correo y Telefono-->
<div id="contact" class="py-2 bg-primary">
    <div class="container">
        <div class="row no-gutters d-flex align-items-start align-items-center px-3 px-md-0">
            <div class="col-lg-12 d-block">
                <div class="row d-flex">
                    <div class="col-md pr-4 d-flex topper align-items-center">
                        <div class="icon bg-secondary mr-2 d-flex justify-content-center align-items-center"><span class="icon-paper-plane"></span></div>
                        <span class="text">proyecto@gmail.com</span>
                    </div>
                    <div class="col-md pr-4 d-flex topper align-items-center">
                        <div class="icon bg-tertiary mr-2 d-flex justify-content-center align-items-center"><span class="icon-phone2"></span></div>
                        <span class="text">+ 1235 2355 98</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- FIN Correo y Telefono-->

<!-- init nav -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark ftco_navbar ftco-navbar-light" id="ftco-navbar" aria-expanded="false" position="fixed">
    <div class="container d-flex align-items-center">
        <a class="navbar-brand" href="#">{{title}}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>
        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"><a href="/" class="nav-link pl-0">Principal</a></li>
                    {{#if user }}
                    <!--MATERIA-->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">Materias</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/admin/lista/cursos">Lista Materias</a>
                            <div class="dropdown-divider"></div>
                            {{#if rol }}
                            <a class="dropdown-item" href="/admin/registro/cursos">Registrar</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/admin/lista/cursos_baja">Materias Inactivos</a>
                            {{/if}}
                        </div>
                    </li>
                    <!--FIN_MATERIA-->
                    <!--PERFIL-->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">Cuenta</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/admin/verDatos">Datos perfil</a>
                            {{#if rol }}
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/admin/lista/usuarios">Lista Usuarios</a>
                            {{/if}}
                            <div class="dropdown-divider"></div>
                            <button type="button" class="dropdown-item" data-toggle="modal" data-target="#modalIni">Cerrar Sesion</button>
                        </div>
                    </li>
                    <!--FIN_PERFIL-->
                    {{ else }}<!--ELSE MUESTRA LAS OPCIONES SI NO EXISTE UNA SESION--> 
                    <!--SESION-->
                    <li class="nav-item">
                        <a class="nav-link" href="/inicio_sesion ">Iniciar Sesion</a>
                    </li>
                    <!--FIN_SESION-->
                    <!--REGISTRO-->
                    <li class="nav-item">
                        <a href="/registro" class="nav-link">Registrarse</a>
                    </li>
                    <!--FIN_REGISTRO-->
                    {{/if}}
                </ul>
            </ul>
        </div>
    </div>
</nav>
<!-- END nav -->
{{# if user}}
<!-- INICIO MODAL SESION  -->
<div class="modal fade" id="modalIni" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Cerrar Sesion</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ¿ Esta seguro que quiere salir de su cuenta ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Volver</button>
                <a href="/cerrar_sesion" class="btn btn-danger">Salir</a>
            </div>
        </div>
    </div>
</div>
<!-- FIN MODAL SESION -->
{{/ if}}

<style>
    #contact{
        font-family: 'Bree Serif', serif;
        color: black;
    }
    #ftco-navbar{
        font-family: 'Bree Serif', serif;
    }
</style>