<section class="hero-wrap hero-wrap-2" style="background-image: url('/images/bg_2.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-2 bread">Contenido</h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="/">Principal <i class="ion-ios-arrow-forward"></i></a></span> <span class="mr-2"><a href="/admin/lista/nivel/{{contenido.nivel.materia.external_id}}">{{contenido.nivel.materia.nombre}}<i class="ion-ios-arrow-forward"></i></a></span><span class="mr-2"><a href="/admin/contenido/presentar/{{contenido.nivel.external_id}}">Nivel {{contenido.nivel.nro}} <i class="ion-ios-arrow-forward"></i></a></span><span>Contenido <i class="ion-ios-arrow-forward"></i></span></p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container p-5">

        <div class="ftco-animate" align="center">
            <h3>{{contenido.titulo}}</h3>
            {{#if rol}}
            <div class="form-row">
                <div class="form-group col-md-6 ">
                    <button class="btn btn-primary btn-block" id="edit" >Editar</button>
                </div>
                <div class="form-group col-md-6 ">
                    <button class="btn btn-primary btn-block" id="save">Guardar</button>
                </div>
            </div>
            {{/if}}
        </div>

        <div id="cont" class="invisible">
            {{contenido.descripcion}}
        </div>
        <br>
        <div id="cuerpo" class="container-fluid">
        </div>
        {{#if rol}}
        <div class="card" align="center">
            {{#each contenido.material_av}}
            {{#if estado}}
            <div class="card-body">
                <a href="/admin/lista/nivel/{{external_id}}" class="img" style="background-image: url('/uploads/{{foto}}');"></a>
                <div class="text bg-light p-4">
                    <img src="{{ruta}}">
                    <br><br>
                    <a href="/admin/material/modificar/{{external_id}}" class="btn btn-danger">Modificar</a>
                    <a href="/admin/material/darBaja/{{external_id}}" class="btn btn-danger">Dar Baja</a>
                </div>
            </div>
            {{else}}
            <div class="card-body">
                <a href="/admin/lista/nivel/{{external_id}}" class="img" style="background-image: url('/uploads/{{foto}}');"></a>
                <div class="text bg-light p-4">
                    <h3>{{titulo}}</h3>
                    <img src="{{ruta}}">
                    <p>{{descripcion}}</p>
                    <a href="/admin/material/modificar/{{external_id}}" class="btn btn-outline-danger">Modificar</a>
                    <a href="/admin/material/darAlta/{{external_id}}" class="btn btn-outline-danger">Dar Alta</a>
                </div>
            </div>
            {{/if}}
            {{/ each}}
        </div>
        {{else}}
        <div class="card" align="center">
            {{#each contenido.material_av}}
            {{#if estado}}            
            <div class="card-body">
                <div class="text bg-light p-4">
                    <h3>{{titulo}}</h3>
                    <img src="{{ruta}}">
                    <p>{{descripcion}}</p>
                </div>
            </div>
            {{/if}}
            {{/ each}}
        </div>
        {{/if}}
    </div>
</section>

<!-- INICIO MODAL CONFIRMAR CAMBIOS AL GUARDAR-->
<div class="modal fade" id="modalCambios" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Guardar Cambios Realizados</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ¿ Esta seguro de modificar el contenido ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Volver</button>
                <form method="POST" action="/admin/contenido/modificar">
                    <input type="hidden" name="descripcion" id="descripcion">
                    <input type="hidden" name="external" value="{{contenido.external_id}}">
                    <button type="submit" class="btn btn-danger">Modificar</button>
                </form>

            </div>
        </div>
    </div>
</div>
<!-- FIN MODAL CONFIRMAR CAMBIOS AL GUARDAR-->


<script>
    (function ($) {
        $(document).ready(function () {
            $("#cont").hide();
            var texto = $("#cont").text();
            $("#cuerpo").html(texto);
            $('#edit').click(function () {
                $('#cuerpo').summernote({
                    tabsize: 2,
                    height: 500,
                    minHeight: null,
                    maxHeight: null,
                    toolbar: [
                        ['style', ['bold', 'italic', 'underline', 'clear']],
                        ['font', ['strikethrough', 'superscript', 'subscript']],
                        ['fontsize', ['fontsize']],
                        ['fontname', ['fontname']],
                        ['color', ['color']],
                        ['para', ['ul', 'ol', 'paragraph']],
                        ['table', ['table']],
                        ['insert', ['link', 'video']],
                        ['view', ['fullscreen', 'codeview', 'help']]
                    ],
                    popover: {
                        image: [
                            ['image', ['resizeFull', 'resizeHalf', 'resizeQuarter', 'resizeNone']],
                            ['float', ['floatLeft', 'floatRight', 'floatNone']],
                            ['remove', ['removeMedia']]
                        ],
                        link: [
                            ['link', ['linkDialogShow', 'unlink']]
                        ],
                        table: [
                            ['add', ['addRowDown', 'addRowUp', 'addColLeft', 'addColRight']],
                            ['delete', ['deleteRow', 'deleteCol', 'deleteTable']]
                        ],
                        air: [
                            ['color', ['color']],
                            ['font', ['bold', 'underline', 'clear']],
                            ['para', ['ul', 'paragraph']],
                            ['table', ['table']],
                            ['insert', ['link', 'picture']]
                        ]
                    }

                });
            });
            $('#save').click(function () {
                var markup = $('#cuerpo').summernote('code');
                if (texto !== markup) {
                    $('#descripcion').val(markup);
                    $("#modalCambios").modal("show");
                } else {
                    $('#cuerpo').summernote('destroy');
                }

            });
        });
    })(jQuery);
</script>
<style>
    .invisible {
        visibility: hidden;
    }
</style>