<!--INIT HEADER-->
<section class="hero-wrap hero-wrap-2" style="background-image: url('/images/bg_2.jpg');" aria-expanded="false">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-2 bread">Nuestros Cursos</h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="/">Principal <i class="ion-ios-arrow-forward"></i></a></span> <span class="mr-2"><a href="/admin/lista/cursos">Materias <i class="ion-ios-arrow-forward"></i></a></span> <span class="mr-2"><a href="/admin/lista/nivel/{{cont.materia.external_id}}">{{ cont.materia.nombre }}<i class="ion-ios-arrow-forward"></i></a></span><span class="mr-2"><a href="/admin/contenido/presentar/{{cont.external_id}}">Nivel {{cont.nro}} <i class="ion-ios-arrow-forward"></i></a></span><span class="mr-2"><a href="">Agregar Contenido<i class="ion-ios-arrow-forward"></i></a></span></p>
            </div>
        </div>
    </div>
</section>
<!--FIN HEADER -->  

<div class="container p-5">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header" align="center">
                    <h3>{{ title }}</h3>
                </div>
                <div class="card-body">
                    <form method="POST" action="/admin/contenido/guardar" id="conte">
                        <div class="form-group">
                            <input type="hidden" name="nivel" id="nivel" value="{{cont.external_id}}" class="form-control">
                        </div>
                        <div class="card-subtitle" align="center">
                            <small class="btn btn-danger">DATOS CONTENIDO</small>
                        </div>
                        <div class="form-group">
                            <label for="nombre">Titulo</label>
                            <input type="text"  name="titulo" id="titulo" class="form-control"
                                   placeholder="Ingrese el titulo" autofocus>
                        </div>
                        <div class="form-group">
                            <label>Contenido</label>
                            <div id="summernote">
                                <textarea id="descripcion" name="descripcion" size="30" maxlength="75"></textarea>
                            </div>
                        </div>
                        <div class="form-group" align="center">
                            <button id="btn_registro" class="btn btn-success btn-lg">Registrar</button>
                            <a href="/admin/lista/nivel/{{cont.materia.external_id}}" class="btn btn-danger btn-lg">Cancelar</a> 
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="content">

</div>
<script>
    function validarC() {
        $("#conte").validate({
            rules: {

                titulo: {
                    required: true

                },
                descripcion: {
                    required: true
                }
            }
        });
    }
    $(document).ready(function () {
        validarC();
    });

    $('#descripcion').summernote({
        placeholder: 'Ingrese aqui el contenido',
        tabsize: 2,
        height: 500,
        minHeight: null,
        maxHeight: null,
        toolbar: [
            ['style', ['style']],
            ['font', ['bold', 'underline', 'clear']],
            ['fontname', ['fontname']],
            ['color', ['color']],
            ['para', ['ul', 'ol', 'paragraph']],
            ['table', ['table']],
            ['insert', ['link', 'video']],
            ['view', ['fullscreen', 'codeview', 'help']]
        ]
    });
</script>
<style>label.error { float: none; color: red; padding-left: .5em; vertical-align: middle; font-size: 12px; }</style>
