<section class="hero-wrap hero-wrap-2" style="background-image: url('/images/bg_2.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-2 bread">Nivel {{niv.nro}}</h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="/">Principal <i class="ion-ios-arrow-forward"></i></a></span> <span class="mr-2"><a href="/admin/lista/cursos">Materias <i class="ion-ios-arrow-forward"></i></a></span><span class="mr-2"><a href="/admin/lista/nivel/{{niv.materia.external_id}}">{{niv.materia.nombre}} <i class="ion-ios-arrow-forward"></i></a></span> <span>Nivel {{niv.nro}}<i class="ion-ios-arrow-forward"></i></span></p>
            </div>
        </div>
    </div>
</section>
<section>
    {{#if rol}}
    {{#if niv.contenido}}
    <div align="center">
        <br>
        <h3 class="mb-2 bread">{{niv.nombre}}</h3>
        <span class="btn btn-info m-4">Selecione el tema de su preferencia para visualizarlo</span>
    </div>
    {{else}}
    <div class="container p-5">
        <div align="center">
            <br>
            <h3 class="mb-2 bread">{{niv.nombre}}</h3>
            <span class="btn btn-primary m-4">No tiene contenidos guardados </span>
        </div><br>
        {{/if}}
        <div class="form-group" align="center">
            <a href="/admin/contenido/{{niv.external_id}}"> <button class="btn btn-outline-primary">+ Agregar Contenido</button></a>
        </div>
        <div class="form-group" align="center">
            {{#if niv.test}}
            {{#if niv.test.estado}}
            <a href="/admin/pregunta/registro/{{niv.external_id}}"><button class="btn btn-outline-secondary">Visualizar Test</button></a>
            <a href="/admin/test/modificar/{{niv.test.external_id}}"> <button class="btn btn-outline-secondary"> Modificar Test</button></a>
            <a href="/admin/test/darBaja/{{niv.test.external_id}}"> <button class="btn btn-outline-secondary"> Dar Baja Test</button></a>
            {{else}}
            <a href="/admin/test/darAlta/{{niv.test.external_id}}"> <button class="btn btn-outline-dark">+ Dar Alta Test</button></a>
            {{/if}}
            {{else}}
            <a href="/admin/test/registro/{{niv.external_id}}"> <button class="btn btn-outline-secondary">+ Agregar Test</button></a>
            {{/if}}
        </div>
        <br>
        <div class="card-header">
            {{#each niv.contenido}}
            <div class="form-row" >
                {{#if estado}}
                <div class="form-group col-md-4">
                    <a  href="/admin/contenido/presentar/titulo/{{external_id}}"><h3 ><button type="button" class="btn btn-success btn-block">{{titulo}}</button ></h3></a>
                </div>
                <div class="form-group col-md-4">
                    <a  href="/admin/material/registro/{{external_id}}"><h3 ><button type="button" class="btn btn-success btn-block"> + Agregar Material</button ></h3></a>
                </div>
                <div class="form-group col-md-4">
                    <a href="/admin/contenido/baja/{{external_id}}"><h3 ><button type="button" class="btn btn-outline-success btn-block">Dar de Baja</button ></h3></a>
                </div>
                {{else}}
                <div class="form-group col-md-12">
                    <a href="/admin/contenido/alta/{{external_id}}"> <h3 ><button type="button" class="btn btn-outline-dark btn-block">{{titulo}} | Dar de Alta</button ></h3></a>
                </div>
                {{/if}}
            </div>
            {{/each}} 
        </div>
    </div>
    {{else}}
    {{#if niv.contenido}}
    <div class="" align="center">
        <h5 class=" form-control">{{niv.nombre}}</h5>
    </div>
    <div align="center">
        <span class="btn btn-info">Selecione el tema de su preferencia para visualizarlo</span>
    </div>
    {{#if niv.test.estado}}
    <div class="form-group p-3" align="center">
        <a href="/admin/pregunta/{{niv.external_id}}"> <button class="btn btn-outline-primary">+ Probar Test</button></a>
    </div>
    {{/if}}
    {{else}}
    <div class="container p-5">
        <div align="center">
            <span class="btn btn-primary">No existe contenido guardado </span>
        </div><br>
        {{/if}}
        <div class="card" align="center">
            <div class="card-body">
                {{#each niv.contenido}}
                <div class="form-row" align="center">
                    {{#if estado}}
                    <div class="form-group col-md-12" align="center">
                        <a href="/admin/contenido/presentar/titulo/{{external_id}}" align="center"><h3 ><button type="button" class="btn btn-success btn-block">{{titulo}}</button ></h3></a>
                    </div>
                    {{/if}}
                </div>
                {{/each}} 
            </div>
        </div>
    </div>
    {{/if}}
</section>
