<script>
    $(document).ready(function () {
        $("#formInicioSesion").validate({
            errorClass: "my-error-class",
            validClass: "my-valid-class",
            rules: {
                correo: {
                    email: true,
                    required: true
                },
                clave: {
                    required: true,
                    minlength: 3,
                    maxlength: 20
                }
            },
            messages: {
                correo: {
                    required: "Ingrese su correo"
                },
                clave: {
                    required: "Ingrese su contraseña",
                    minlength: "Minimo 3 caracteres",
                    maxlength: "Máximo 20 caracteres"
                }
            }
        });
    });
</script>
<div id="formR" class="container p-5">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3>{{ title }}</h3>
                </div>
                <img src="/logos/logoSesion.png" class="card-img-top mx-auto m-2 rounded-circle w-50">
                <div class="card-body">
                    <form id="formInicioSesion" action="/inicio_sesion" method="POST">
                        <div class="form-group">
                            <label for="correo">Correo</label>
                            <input type="email" name="correo" id="correo" class="form-control"
                                   placeholder="Ingrese su correo" autofocus>
                        </div>
                        <div class="form-group">
                            <label for="clave">Clave</label>
                            <input type="password" name="clave" id="clave" class="form-control"
                                   placeholder="Ingrese su clave">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">Iniciar Sesion</button>
                        </div>
                        <div class="form-group">
                            <a href="/" class="btn btn-danger btn-block">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    #formR{
        color: #010101;
        font-family: 'Bree Serif', serif;
    }
    .my-error-class {
        color:#FF0000;  /* red */
        font-family: 'Bree Serif', serif;
    }
    .my-valid-class {
        color:#00CC00; /* green */
        font-family: 'Bree Serif', serif;
    }
</style>
