<script>
    $(document).ready(function () {
        $("#fecha_nac").change(function () {
            var edad = calcularEdad();
            $("#edad").val(edad);
        });
        $.validator.addMethod("soloLetras", function (value, element) {
            return this.optional(element) || /^[a-z\s]+$/i.test(value);
        }, "Solo letras");
        $("#formRegistroUsuario").validate({
            errorClass: "my-error-class",
            validClass: "my-valid-class",
            rules: {
                nombres: {
                    required: true,
                    minlength: 4,
                    maxlength: 45,
                    soloLetras: true
                },
                apellidos: {
                    required: true,
                    minlength: 4,
                    maxlength: 45,
                    soloLetras: true
                },
                edad: {
                    number: true,
                    required: true
                },
                fecha_nac: {
                    required: true,
                },
                nickname: {
                    required: true,
                    minlength: 4,
                    maxlength: 10
                },
                correo: {
                    required: true,
                    email: true
                },
                clave: {
                    required: true,
                    minlength: 4,
                    maxlength: 20
                }
            },
            messages: {
                nombres: {
                    required: "Ingrese sus nombres completos",
                    minlength: "Minimo 4 caracteres",
                    maxlength: "Máximo 45 caracteres"
                },
                apellidos: {
                    required: "Ingrese sus apellidos completos",
                    minlength: "Minimo 4 caracteres",
                    maxlength: "Máximo 45 caracteres"
                },
                fecha_nac: {
                    required: "Ingrese su fecha de nacimiento"
                },
                nickname: {
                    required: "Ingrese su nickname",
                    minlength: "Minimo 4 caracteres",
                    maxlength: "Máximo 10 caracteres"
                },
                correo: {
                    required: "Ingrese su correo"
                },
                clave: {
                    required: "Ingrese su contraseña",
                    minlength: "Minimo 4 caracteres",
                    maxlength: "Máximo 20 caracteres"
                }
            }
        });
    });
    function calcularEdad() {
        var fecha = document.getElementById("fecha_nac");
        var hoy = new Date();
        var cumpleanos = new Date(fecha.value);
        var edad = hoy.getFullYear() - cumpleanos.getFullYear();
        var m = hoy.getMonth() - cumpleanos.getMonth();
        if (m < 0 || (m === 0 && hoy.getDate() < cumpleanos.getDate())) {
            edad--;
        }
        if (edad >= 0) {
            return edad;
        }
    }
</script>
<div id="registro" class="container p-5">
    <div class="row">
        <div class="col-md-5 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3 id="title">{{ title }}</h3>
                </div>
                <div class="card-body">
                    <form id="formRegistroUsuario" method="POST" action="/registro">
                        <div class="form-group">
                            <label for="apellidos">Apellidos</label>
                            <input type="text" name="apellidos" id="apellidos" class="form-control"
                                   placeholder="Ingrese sus apellidos" autofocus>
                        </div>
                        <div class="form-group">
                            <label for="nombres">Nombres</label>
                            <input type="text" name="nombres" id="nombres" class="form-control"
                                   placeholder="Ingrese sus nombres">
                        </div>
                        <div class="form-group">
                            <label for="nickname">NickName</label>
                            <input type="text" name="nickname" id="nickname" class="form-control"
                                   placeholder="Ingrese su nickName">
                        </div>
                        <div class="form-group">
                            <label for="fecha_nac">Fecha de Nacimiento</label>
                            <input type="date" name="fecha_nac" id="fecha_nac" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="edad">Edad</label>
                            <input type="text" name="edad" id="edad" class="form-control"
                                   placeholder="Ingrese su edad" readonly>
                        </div>
                        <div class="form-group">
                            <label for="correo">Correo</label>
                            <input type="email" name="correo" id="correo" class="form-control"
                                   placeholder="Ingrese su correo" autofocus>
                        </div>
                        <div class="form-group">
                            <label for="clave">Clave</label>
                            <input type="password" name="clave" id="clave" class="form-control"
                                   placeholder="Ingrese su clave">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">Registrar</button>
                        </div>
                        <div class="form-group">
                            <a href="/" class="btn btn-danger btn-block">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    #title{
        font-family: 'Bree Serif', serif;
    }
    #registro{
        color: #000;
    }
    .my-error-class {
        color:#FF0000;  /* red */
        font-family: 'Bree Serif', serif;
    }
    .my-valid-class {
        color:#00CC00; /* green */
        font-family: 'Bree Serif', serif;
    }
</style>
