
<script>
    $(document).ready(function () {
        $("#fecha_nac").change(function () {
            var edad = calcularEdad();
            $("#edad").val(edad);
        });
        $.validator.addMethod("soloLetras", function (value, element) {
            return this.optional(element) || /^[a-z\s]+$/i.test(value);
        }, "Solo letras");
        $("#formularioDatos").validate({
            errorClass: "my-error-class",
            validClass: "my-valid-class",
            rules: {
                nombres: {
                    required: true,
                    minlength: 4,
                    maxlength: 45,
                    soloLetras: true
                },
                apellidos: {
                    required: true,
                    minlength: 4,
                    maxlength: 45,
                    soloLetras: true
                },
                edad: {
                    number: true,
                    required: true
                },
                fecha_nac: {
                    required: true
                },
                nickName: {
                    required: true,
                    minlength: 4,
                    maxlength: 10
                }, correo: {
                    required: true,
                    email: true
                }
            },
            messages: {
                nombres: {
                    required: "Ingrese sus nombres completos",
                    minlength: "Minimo 4 caracteres",
                    maxlength: "Máximo 45 caracteres"
                },
                apellidos: {
                    required: "Ingrese sus apellidos completos",
                    minlength: "Minimo 4 caracteres",
                    maxlength: "Máximo 45 caracteres"
                },
                fecha_nac: {
                    required: "Ingrese su fecha de nacimiento"
                },
                nickName: {
                    required: "Ingrese su nickname",
                    minlength: "Minimo 4 caracteres",
                    maxlength: "Máximo 10 caracteres"
                }, correo: {
                    required: "Ingrese su correo"
                }
            }
        });

        $("#formularioCuenta").validate({
            errorClass: "my-error-class",
            validClass: "my-valid-class",
            rules: {
                clave: {
                    required: true,
                    minlength: 4,
                    maxlength: 20
                },
                claveNueva: {
                    required: true,
                    minlength: 4,
                    maxlength: 20
                },
                claveRepetida: {
                    required: true,
                    minlength: 4,
                    maxlength: 20
                },
                confimacionClaves: {
                    required: true
                }
            },
            messages: {
                clave: {
                    required: "Ingrese su contraseña",
                    minlength: "Minimo 4 caracteres",
                    maxlength: "Máximo 20 caracteres"
                },
                claveNueva: {
                    required: "Ingrese su nueva contraseña",
                    minlength: "Minimo 4 caracteres",
                    maxlength: "Máximo 20 caracteres"
                },
                claveRepetida: {
                    required: "Ingrese su nueva contraseña",
                    minlength: "Minimo 4 caracteres",
                    maxlength: "Máximo 20 caracteres"

                },
                confimacionClaves: {
                    required: "Ambas contraseñas deben ser iguales"
                }
            }
        });
        function calcularEdad() {
            var fecha = document.getElementById("fecha_nac");
            var hoy = new Date();
            var cumpleanos = new Date(fecha.value);
            var edad = hoy.getFullYear() - cumpleanos.getFullYear();
            var m = hoy.getMonth() - cumpleanos.getMonth();
            if (m < 0 || (m === 0 && hoy.getDate() < cumpleanos.getDate())) {
                edad--;
            }
            if (edad >= 0) {
                return edad;
            }
        }
    });
</script>

<div id="tab" class="container">
    <div class="row">
        <div class="col-md-11 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3>{{ title }}</h3>
                </div>
                <div class="card-body">
                    <section id="faq">
                        <div class="section-header">
                            <div id="faq-list" class="wow fadeInUp">
                                <div class="section-title">
                                    {{#if usuario.foto}}
                                    <img src="/perfil/{{usuario.foto}}" style="width: 150px; height: 150px; border-radius: 100%;">
                                    {{else}}
                                    {{#if rol}}
                                    <img src="/images/admin.png" style="width: 150px; height: 150px; border-radius: 100%;">
                                    {{else}}
                                    <img src="/images/user.png" style="width: 150px; height: 150px; border-radius: 100%;">
                                    {{/if}}

                                    {{/if}}
                                    <div class="dropdown-divider"></div>
                                    <!--INIT-MODAL-FOTO-->
                                    <div class="modal fade" id="modalFoto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                                         aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header text-center">
                                                    <h4 class="modal-title w-100 font-weight-bold">Subir Foto</h4>
                                                </div>
                                                <div class="modal-body mx-3">
                                                    <form id="formularioFoto" enctype="multipart/form-data" method="POST" action="/admin/pefil/foto/guardar">
                                                        <div class="form-group">
                                                            <label for="foto">Seleccione la Imagen a subir</label><br>
                                                            <input type="file" id="archivo" name="archivo"/><br>
                                                            <br>
                                                            <div class="modal-footer d-flex justify-content-center">
                                                                <div class="form-group">
                                                                    <input type="submit" class="btn btn-success" value="SUBIR FOTO"/>
                                                                </div>
                                                                <div class="form-group">
                                                                    <button type="button" class="btn btn-danger btn-block" data-dismiss="modal" aria-label="Close">
                                                                        Cancelar
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <a href="#" class="btn btn-warning btn-rounded mb-4" data-toggle="modal" data-target="#modalFoto">Cambiar Foto</a>
                                    </div>
                                    <!--END-MODAL-FOTO-->
                                    <div class="dropdown-divider"></div>
                                    <div style="font-size: 25px">
                                        <h3>{{nombre}}</h3>

                                        <!--INIT-MODAL-CAMBIO-DATOS-->
                                        <div class="modal fade" id="modalRegistro" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header text-center">
                                                        <h4 class="modal-title w-100 font-weight-bold">Cambio Datos</h4>
                                                    </div>
                                                    <div class="modal-body mx-3" align="left">
                                                        <form id="formularioDatos" method="POST" action="/admin/verDatos/guardar">
                                                            <div class="form-row">
                                                                <div class="form-group col-md-6">
                                                                    <label for="apellidos">Apellidos</label>
                                                                    <input type="text" class="form-control" id="apellidos" name="apellidos" value="{{usuario.apellidos}}" autofocus>
                                                                </div>
                                                                <div class="form-group col-md-6">
                                                                    <label for="nombres">Nombres</label>
                                                                    <input type="text" class="form-control" id="nombres" name="nombres" value="{{usuario.nombres}}" >
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="nickName">NickName</label>
                                                                <input type="text" class="form-control" id="nickName" name="nickName" value="{{usuario.nickname}}" >
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="fecha_nac">Fecha de Nacimiento</label>
                                                                <input type="date" class="form-control" name="fecha_nac" id="fecha_nac" value="{{usuario.fecha_nac}}" >
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="edad">Edad</label>
                                                                <input type="text" name="edad" id="edad" class="form-control" value="{{usuario.edad}}" readonly>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="correo">Correo</label>
                                                                <input type="email" class="form-control" id="correo" name="correo" value="{{usuario.cuenta.correo}}" readonly>
                                                            </div>
                                                            <div class="modal-footer d-flex justify-content-center">
                                                                <div class="form-group">
                                                                    <button class="btn btn-success btn-block">Guardar</button>
                                                                </div>
                                                                <div class="form-group">
                                                                    <button type="button" class="btn btn-danger btn-block" data-dismiss="modal" aria-label="Close">
                                                                        Cancelar
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>  
                                        <div class="text-center">
                                            <a href="#" id="editarDatos" class="btn btn-info btn-rounded mb-4" data-toggle="modal" data-target="#modalRegistro">Editar Datos Personales</a>
                                        </div>
                                        <!--END-MODAL-CAMBIO-DATOS-->

                                        <!--INIT-MODAL-CAMBIO-DATOS CUENTA-->
                                        <div class="modal fade" id="modalCambiarClave" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header text-center">
                                                        <h4 class="modal-title w-100 font-weight-bold">Cambio Datos</h4>
                                                    </div>
                                                    <div class="modal-body mx-3" align="left">
                                                        <form id="formularioCuenta" method="POST" action="/admin/verDatos/guardar/cuenta">
                                                            <input type="hidden" value="0" name="cuenta" id="cuenta">
                                                            <input type="hidden" value="{{usuario.cuenta.external_id}}" name="external_cuenta" id="cuenta">

                                                            <div class="form-group">
                                                                <label for="clave">Ingrese la Clave Actual</label>
                                                                <input type="password" name="clave" id="clave" class="form-control" placeholder="Ingrese su clave">
                                                            </div>
                                                            <div class="form-row">
                                                                <div class="form-group col-md-6">
                                                                    <label for="claveNueva">Nueva Clave</label>
                                                                    <input type="password" class="form-control" id="claveNueva" name="claveNueva" placeholder="Ingrese su nueva clave" autofocus>
                                                                </div>
                                                                <div class="form-group col-md-6">
                                                                    <label for="claveRepetida">Repetir Nueva Clave</label>
                                                                    <input type="password" class="form-control" id="claveRepetida" name="claveRepetida" placeholder="Repita su clave">
                                                                </div>
                                                                <input type="hidden" name="confimacionClaves" value="">
                                                            </div>

                                                            <h6 id="confirmacion" align="center"></h6>
                                                            <div class="modal-footer d-flex justify-content-center">
                                                                <div class="form-group">
                                                                    <button class="btn btn-success btn-block">Guardar</button>
                                                                </div>
                                                                <div class="form-group">
                                                                    <button type="button" class="btn btn-danger btn-block" data-dismiss="modal" aria-label="Close">
                                                                        Cancelar
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>  
                                        <div class="text-center">
                                            <a href="#" id="editarDatos" class="btn btn-info btn-rounded mb-4" data-toggle="modal" data-target="#modalCambiarClave">Editar Clave de la Cuenta</a>
                                        </div>
                                        <!--END-MODAL-CAMBIO-DATOS CUENTA-->
                                    </div>
                                </div>
                            </div >
                        </div>
                        <div class="container" align="right">
                            <div id="faq-list" class="wow fadeInUp">
                                <!--tabla-->
                                <div id="vista">
                                    <table class="table" >
                                        <tbody>  
                                            <tr>
                                                <th scope="col">Nombres y Apellidos</th>
                                                <td>{{usuario.nombres}} {{usuario.apellidos}}</td>
                                            </tr>
                                            <tr>
                                                <th scope="col">NickName</th>
                                                <td>{{usuario.nickname}}</td>
                                            </tr>
                                            <tr>
                                                <th scope="col">Fecha Nacimiento</th>
                                                <td>{{usuario.fecha_nac}}</td>
                                            </tr>
                                            <tr>
                                                <th scope="col">Edad</th>
                                                <td>{{usuario.edad}}</td>
                                            </tr>
                                            <tr>
                                                <th align="right"scope="col">Correo</th>
                                                <td>{{usuario.cuenta.correo}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!--END TABLA-->
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        function clavesIguales() {
            var clave_nueva = $('#claveNueva').val();
            var confirmacion = $('#claveRepetida').val();
            console.log(clave_nueva + " " + confirmacion);
            var html = '';
            if (clave_nueva === confirmacion) {
                $('#confimacionClaves').val('true');
                html += '<label class="alert alert-success" role="alert">Claves correctas</label>';
            } else {
                $('#confimacionClaves').val('');
                html += '<label class="alert alert-danger" role="alert">No coiciden</label>';
            }
            $('#confirmacion').html(html);
        }
        //metodo para verificar si la nueva clave esta bien 
        $('#claveRepetida').keyup(function () {
            clavesIguales();
        });
    });
</script>

<style>
    #tab{
        color: #010101;
        font-family: 'Bree Serif', serif;
    }
    .my-error-class {
        color:#FF0000;  /* red */
        font-family: 'Bree Serif', serif;
    }
    .my-valid-class {
        color:#00CC00; /* green */
        font-family: 'Bree Serif', serif;
    }
</style>