
<div class="container" style="margin-top: 20px;">    
    <div class="panel panel-primary">
        <div class="card-header alert-primary" align="center"><h3 id="titulo">{{ title }}</h3></div>
        <div class="panel-body">
            <div class="table-responsive-xl">
                <table id="tablaUsuarios" class="table table-striped">
                    <thead id="cabezera" align="center">
                        <tr align="center"> 
                            <th scope="col">Usuario</th>
                            <th scope="col">Correo</th>
                            <th scope="col">Edad</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody id="cuerpo" align="center">
                        {{#each lista}}
                        <tr>
                            <td>{{apellidos}} {{nombres}}</td>
                            <td>{{cuenta.correo}}</td>
                            <td>{{edad}}</td>
                            {{#if cuenta.estado}}
                            <td>Activo</td>
                            {{else}}
                            <td>Inactivo</td>
                            {{/if}}
                            <td align="center">
                                <button id="{{external_id}}" class="btn btn-secondary" name="botonesNotas" >Ver Notas</button>
                                {{#if cuenta.estado}}
                                <a href="/admin/lista/usuarios/darBaja/{{cuenta.external_id}}" class="btn btn-danger">Dar Baja</a>
                                {{else}}
                                <a href="/admin/lista/usuarios/darAlta/{{cuenta.external_id}}" class="btn btn-success">Dar Alta</a>
                                {{/if}}
                            </td> 
                        </tr>
                        {{/each}}
                        {{nro}}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
<script>

    function buscar(criterio) {

        var url = "http://localhost:3000/admin/consultas/notas";
        $.ajax({
            url: url,
            data: 'criterio=' + criterio,
            success: function (data, textStatus, jqXHR) {
                
                var html = '';
                $('#exampleModalLongTitle').html('Notas del Estudiante '+data.nombres+' '+data.apellidos);
                $.each(data.progreso, function (index, item) {
                    html += '<tr>';
                    html += '<td>' + item.test.nivel.materia.nombre + '</td>';
                    html += '<td> Nivel ' + item.test.nivel.nro  + '</td>';
                    html += '<td>' + item.test.nombre + '</td>';
                    html += '<td>' + item.calificacion + '</td>';
                    html += '</tr>';

                });
                $("#tabla tbody").html(html);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                //  console.log(jqXHR.responseText);
            }
        });
    }

    $(document).ready(function () {
        var esternalU = '';
        $('button[name=botonesNotas]').click(function () {
            esternalU = $(this).attr("id");
            console.log(esternalU);
            buscar(esternalU);
            $("#exampleModalLong").modal("show");
        });

    });

</script>
<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header" >
                <h5 class="modal-title" id="exampleModalLongTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <table class="table" id="tabla">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Materia</th>
                            <th scope="col">Nivel </th>
                            <th scope="col">Nombre Test</th>
                            <th scope="col">Nota Sobre 10</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-secondary" data-dismiss="modal" value="Cerrar">
            </div>
        </div>
    </div>
</div>


