<!DOCTYPE html>
<html lang="es">  
    <head> 
        <link href="http://dominio.com/hoja-de-estilos.css" rel="stylesheet" type="text/css"/> 
        <title>Comienza tu aprendizaje</title>    
        <meta charset="UTF-8">
        <meta name="title" content="Estapa Infantil">
        <meta name="description" content="Enseñanza">    
        <link href="http://dominio.com/hoja-de-estilos.css" rel="stylesheet" type="text/css"/>    
    </head>  
    <body>    
        <div class="intro-section" id="home-section">
            <div class="slide-1" style="background-image: url('https://cdn.pixabay.com/photo/2018/03/18/21/42/lifestyle-3238401__340.jpg');" data-stellar-background-ratio="0.5">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-12">
                            <div class="row align-items-center">
                                <div class="col-lg-6 mb-4">
                                    <h1  data-aos="fade-up" data-aos-delay="100">Comienza tu aprendizaje</h1>
                                    <p class="mb-4"  data-aos="fade-up" data-aos-delay="200">"Los niños son seres inocentes, indefensos y vulnerables, por lo que hay que preservarlos del mundo de los adultos para que no se estropeen o contaminen".</p>
                                    <p data-aos="fade-up" data-aos-delay="300"><a href="#" class="btn btn-primary py-3 px-5 btn-pill">Comienza</a></p>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="site-section" id="teachers-section">
            <div class="container">

                <div class="row mb-5 justify-content-center">
                    <div class="col-lg-7 mb-5 text-center"  data-aos="fade-up" data-aos-delay="">
                        <h2 class="section-title">Para Niños Pequeños y Grandes</h2>
                        <p class="mb-5">Para que un niño se convierta en una persona de bien con justicia y amor debemos ayudarle a reflexionar y pensar sobre el futuro. Y sobre su conducta, ya que si bien es cierto los niños son inciertos también son las personas más bonitas y tiernas de este mundo.</p>
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-6 col-lg-4 mb-4" data-aos="fade-up" data-aos-delay="100">
                        <div class="teacher text-center">
                            <img src="https://cdn.pixabay.com/photo/2015/06/22/08/40/child-817373__340.jpg" alt="Image" class="img-fluid w-50 rounded-circle mx-auto mb-4">
                            <div class="py-2">
                                <h3 class="text-black">Sueños</h3>
                                <p class="position">Niño</p>
                                <p>Puedes pensar que hoy eres pequeño, y quieres ser grande pronto, pero disfruta el proceso porque un día querrás volver a ser pequeño.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4 mb-4" data-aos="fade-up" data-aos-delay="200">
                        <div class="teacher text-center">
                            <img src="https://cdn.pixabay.com/photo/2015/06/22/08/37/children-817365__340.jpg" alt="Image" class="img-fluid w-50 rounded-circle mx-auto mb-4">
                            <div class="py-2">
                                <h3 class="text-black">Luz</h3>
                                <p class="position">Los niños</p>
                                <p>Los niños alumbran la vida de los adultos y en muchas ocasiones les enseñan muchas lecciones vitales para llevar una vida divertida, de aprendizaje, curiosa y feliz</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4 mb-4" data-aos="fade-up" data-aos-delay="300">
                        <div class="teacher text-center">
                            <img src="https://cdn.pixabay.com/photo/2016/03/07/09/34/kid-1241817__340.jpg" alt="Image" class="img-fluid w-50 rounded-circle mx-auto mb-4">
                            <div class="py-2">
                                <h3 class="text-black">Felicidad</h3>
                                <p class="position">Los niños</p>
                                <p>La infancia es un momento de la vida que la mayor parte de las personas recuerdan con nostalgia y alegría, es una etapa de juegos, conocimientos, amigos, familia y mucha diversión.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="site-section bg-image overlay" style="background-image: url('https://cdn.pixabay.com/photo/2015/04/27/11/48/sign-741813__340.jpg');">
            <div class="container">
                <div class="row justify-content-center align-items-center">
                    <div class="col-md-8 text-center testimony">
                        <img src="https://cdn.pixabay.com/photo/2016/08/01/06/51/people-1560569__340.jpg" alt="Image" class="img-fluid w-25 mb-4 rounded-circle">
                    </div>
                </div>
            </div>
        </div>

        <div class="site-section pb-0">
            <div class="row">
                <div class="col-lg-4 ml-auto align-self-start"  data-aos="fade-up" data-aos-delay="100">

                    <div class="p-4 rounded bg-white why-choose-us-box">

                        <div class="d-flex align-items-center custom-icon-wrap custom-icon-light mb-3">
                            <div class="mr-3"><span class="custom-icon-inner"><span class="icon icon-graduation-cap"></span></span></div>
                            <div><h3 class="m-0">Lucha por tus sueños</h3></div>
                        </div>

                        <div class="d-flex align-items-center custom-icon-wrap custom-icon-light mb-3">
                            <div class="mr-3"><span class="custom-icon-inner"><span class="icon icon-university"></span></span></div>
                            <div><h3 class="m-0">El futuro te espera</h3></div>
                        </div>

                        <div class="d-flex align-items-center custom-icon-wrap custom-icon-light mb-3">
                            <div class="mr-3"><span class="custom-icon-inner"><span class="icon icon-graduation-cap"></span></span></div>
                            <div><h3 class="m-0">Juntos por el mañana</h3></div>
                        </div>

                        <div class="d-flex align-items-center custom-icon-wrap custom-icon-light mb-3">
                            <div class="mr-3"><span class="custom-icon-inner"><span class="icon icon-university"></span></span></div>
                            <div><h3 class="m-0">Por mas sonrrisas</h3></div>
                        </div>

                        <div class="d-flex align-items-center custom-icon-wrap custom-icon-light mb-3">
                            <div class="mr-3"><span class="custom-icon-inner"><span class="icon icon-graduation-cap"></span></span></div>
                            <div><h3 class="m-0">Los mejores amigos</h3></div>
                        </div>

                        <div class="d-flex align-items-center custom-icon-wrap custom-icon-light">
                            <div class="mr-3"><span class="custom-icon-inner"><span class="icon icon-university"></span></span></div>
                            <div><h3 class="m-0">Niños felices</h3></div>
                        </div>

                    </div>


                </div>
                <div class="col-lg-7 align-self-end"  data-aos="fade-left" data-aos-delay="200">
                    <img src="https://cdn.pixabay.com/photo/2015/08/05/13/54/happy-children-876541__340.jpg" alt="Image" class="img-fluid">
                </div>
            </div>
        </div>
        <br>
    </body>  
</html>
