<!--INIT HEADER-->
<section class="hero-wrap hero-wrap-2" style="background-image: url('/images/bg_2.jpg');" aria-expanded="false">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-2 bread">Nuestros Cursos</h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="/">Principal <i class="ion-ios-arrow-forward"></i></a></span> <span class="mr-2"><a href="">Materias <i class="ion-ios-arrow-forward"></i></a></span> <span class="mr-2"><a href="">{{ cont.materia.nombre }}<i class="ion-ios-arrow-forward"></i></a></span><span class="mr-2"><a href="">Agregar Contenido<i class="ion-ios-arrow-forward"></i></a></span></p>
            </div>
        </div>
    </div>
</section>
<!--FIN HEADER -->  

<div class="container p-5">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header" align="center">
                    <h3>{{ title }}</h3>
                </div>
                <div class="card-body">
                    <form method="POST" action="/admin/material/guardar" id="materialAV">
                        <div class="form-group">
                            <input type="hidden" name="contenido" id="contenido" value="{{contenido.external_id}}" class="form-control">
                        </div>
                        <div class="card-subtitle" align="center">
                            <small class="btn btn-danger">DATOS MATERIAL AUDIO VISUAL</small>
                        </div>
                        <div class="container-fluid">
                            <div class="form-row p-1">
                                <div class="form-group col-md-6">
                                    <label for="nombre">Nombre Material</label>
                                    <input type="text"  name="tituloMaterial" id="tituloMaterial" class="form-control"
                                           placeholder="Ingrese un titulo para el material">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="ruta">Dirección URL</label>
                                    <input type="text"  name="ruta" id="ruta" class="form-control" placeholder="Ingrese la direccion url del material">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="desc">Descripción Material</label>
                                <textarea name="desc" id="desc" class="form-control"  placeholder="Ingrese la descripción url del material"></textarea>
                            </div>
                        </div>
                        <div class="form-group" align="center">
                            <button type="submit" id="btn_registro" class="btn btn-success btn-lg">Registrar</button>
                            <a href="/admin/contenido/presentar/{{contenido.nivel.external_id}}" class="btn btn-danger btn-lg">Cancelar</a> 
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#materialAV").validate({

            rules: {
                tituloMaterial: {
                    required: true
                },
                ruta: {
                    required: true
                },
                desc: {
                    required: true
                }
            }
        });
    });
</script>
<style>label.error { float: none; color: red; padding-left: .5em; vertical-align: middle; font-size: 12px; }</style>