<!--INIT HEADER-->
<section class="hero-wrap hero-wrap-2" style="background-image: url('/images/bg_2.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-2 bread">Nuestros Cursos Inactivos</h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="/">Principal <i class="ion-ios-arrow-forward"></i></a></span> <span>Cursos Inactivos<i class="ion-ios-arrow-forward"></i></span></p>
            </div>
        </div>
    </div>
</section>
<!--FIN HEADER -->

<!--INICIO NUESTROS CURSOS-->
<section class="ftco-section">
    <div class="container" style="background-image: url('/images/bg_4.jpg');">
        <div class="row justify-content-center mb-5 pb-2">
            <div class="col-md-8 text-center heading-section ftco-animate">
                <h3 class="heading">{{title}}</h3>
            </div>
        </div>
        <div class="row">
            {{#each materias}}
            <!-- IF verifica si el estado es verdadero -->
            {{#if estado}}
            <!--  else presenta todas las materia con el estado en falso -->
            {{else}}      
            <div class="col-md-12 course d-lg-flex ftco-animate">
                <div class="img" style="background-image: url('/uploads/{{foto}}');"></div>
                <div class="text bg-light p-4 ">
                    <h3><a href="#"></a>{{ nombre }}</h3>
                    <h4>{{ codigo }}</h4>
                    <h5>Estado: Inactivo </h5>
                    <p>{{ detalle }}</p>
                    <a href="/admin/modificar/cursos/{{ external_id }}"><button class="btn btn-secondary"><strong>Modificar</strong></button></a>
                    <a href="/admin/darAlta/{{ external_id }}"><button class="btn btn-success"><strong>Dar Alta</strong></button></a>
                </div>
            </div>
            {{/ if}}
            {{/ each}}
        </div>
    </div>
</section>
<!--FIN NUESTROS CURSOS-- >
