<!--INIT HEADER-->
<section class="hero-wrap hero-wrap-2" style="background-image: url('/images/bg_2.jpg');" aria-expanded="false">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-2 bread">Nuestros Cursos</h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="/">Principal <i class="ion-ios-arrow-forward"></i></a></span> <span class="mr-2"><a href="/admin/lista/cursos">Materias <i class="ion-ios-arrow-forward"></i></a></span><span class="mr-2"><a href="">Listado Materias<i class="ion-ios-arrow-forward"></i></a></span></p>
            </div>
        </div>
    </div>
</section>
<!--FIN HEADER -->

<!--INICIO NUESTROS CURSOS-->
<section class="ftco-section">
    <div class="container" style="background-image: url('/images/bg_4.jpg');">
        <div class="row justify-content-center mb-5 pb-2">
            <div class="col-md-8 text-center heading-section ftco-animate">
                <h3 class="heading mb-2 bread"><strong>{{title}}</strong> </h3>
                {{#if rol }}
                <a href="/admin/registro/cursos">
                    <button class="btn btn-success form-group col-md-6"><strong>+ Agregar Materia</strong></button>
                </a>
                <p>Agregar Contenido</p>
                {{/if }}

            </div>
        </div>
        {{#if rol }}
        <div class="row">
            {{#each materias}}
            <!-- IF verifica si el estado es verdadero -->
            {{#if estado}}
            <div class="col-md-12 course d-lg-flex ftco-animate">
                <a href="/admin/lista/nivel/{{external_id}}" class="img" style="background-image: url('/uploads/{{foto}}');"></a>
                <div class="text bg-light p-4">
                    <h3><a href="/admin/lista/nivel/{{external_id}}">{{ nombre}}</a></h3>
                    <h4>{{ codigo }}</h4>
                    <h5>Estado: Activo </h5>
                    <p>{{ detalle }}</p>
                    <a href="/admin/modificar/cursos/{{ external_id }}"><button class="btn btn-secondary"><strong>Modificar</strong></button></a>
                    <a href="/admin/darBaja/{{ external_id }}"><button class="btn btn-danger"><strong>Dar Baja</strong></button></a>
                    {{#if foto}}
                    <a href="/admin/foto/{{ external_id }}"><button class="btn btn-danger"><strong>Foto</strong></button></a>
                    {{else}}
                    <a href="/admin/foto/{{ external_id }}"><button class="btn btn-success"><strong>Agregar Foto</strong></button></a>
                    {{/if}}
                </div>
            </div>
            {{/ if}}
            {{/ each}}
        </div>
        {{/if }}
    </div>
</section>
<!--FIN NUESTROS CURSOS-- -->

{{#if rol}}
{{else}}
{{#each materias}}
{{#if estado}}
<section id="curso" class="ftco-intro" style="background-image: url(/uploads/{{foto}});" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h2>{{nombre}}</h2>
                <p class="mb-0">{{detalle}}</p>
            </div>
            <div class="col-md-3 d-flex align-items-center">
                <p class="mb-0"><a href="/admin/lista/nivel/{{external_id}}" class="btn btn-secondary px-4 py-3">Tomar este Curso</a></p>
            </div>
        </div>
    </div>
</section>
{{/if}}
{{/each}}
{{/if}}

