<script>
    $(document).ready(function () {
        $("#formMateria").validate({
            errorClass: "my-error-class",
            validClass: "my-valid-class",
            rules: {
                nombre: {
                    required: true,
                    minlength: 4,
                    maxlength: 45
                },
                codigo: {
                    required: true,
                    minlength: 4,
                    maxlength: 45
                },
                detalle: {
                    required: true,
                    minlength: 4,
                    maxlength: 100
                }
            },
            messages: {
                nombre: {
                    required: "Ingrese sus nombres completos",
                    minlength: "Minimo 4 caracteres",
                    maxlength: "Máximo 45 caracteres"
                },
                codigo: {
                    required: "Ingrese su contraseña",
                    minlength: "Minimo 4 caracteres",
                    maxlength: "Máximo 20 caracteres"
                },
                detalle: {
                    required: "Ingrese su correo",
                    minlength: "Minimo 4 caracteres",
                    maxlength: "Máximo 100 caracteres"
                }
            }
        });
    });
</script>


<!--INIT HEADER-->
<section class="hero-wrap hero-wrap-2" style="background-image: url('/images/bg_2.jpg');" aria-expanded="false">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-2 bread">Nuestros Cursos</h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="/">Principal <i class="ion-ios-arrow-forward"></i></a></span> <span class="mr-2"><a href="/admin/lista/cursos">Materias <i class="ion-ios-arrow-forward"></i></a></span><span class="mr-2"><a href="">Registrar<i class="ion-ios-arrow-forward"></i></a></span></p>
            </div>
        </div>
    </div>
</section>
<!--FIN HEADER -->

<div id="reg" class="container p-5">
    <div class="row">
        <div class="col-md-5 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3 id="titulo">{{ title }}</h3>
                </div>
                <div class="card-body">
                    <form id="formMateria" method="POST" action="/admin/registro/cursos">
                        <div class="form-group">
                            <label for="nombre">Nombre</label>
                            <input type="text" name="nombre" id="nombre" class="form-control"
                                   placeholder="Ingrese el nombre de la materia" autofocus>
                        </div>
                        <div class="form-group">
                            <label for="codigo">Codigo</label>
                            <input type="text" name="codigo" id="codigo" class="form-control"
                                   placeholder="Ingrese el codigo de la materia">
                        </div>
                        <div class="form-group">
                            <label for="detalle">Detalle</label>
                            <textarea name="detalle" id="detalle" rows="2" class="form-control"
                                      placeholder="Ingrese una descripción de la materia"></textarea>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">Registrar</button>
                        </div>
                        <div class="form-group">
                            <a href="/admin/lista/cursos" class="btn btn-danger btn-block">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    #titulo{
        color: #000;
        font-family: 'Bree Serif', serif;
    }
    #reg{
        color: #000;
        font-family: 'Bree Serif', serif;
    }
    .my-error-class {
        color:#FF0000;  /* red */
        font-family: 'Bree Serif', serif;
    }
    .my-valid-class {
        color:#00CC00; /* green */
        font-family: 'Bree Serif', serif;
    }
</style>