
<!--INIT HEADER-->
<section class="hero-wrap hero-wrap-2" style="background-image: url('/images/bg_2.jpg');" aria-expanded="false">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-2 bread">Nuestros Cursos</h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="/">Principal <i class="ion-ios-arrow-forward"></i></a></span> <span class="mr-2"><a href="/admin/lista/cursos">Materias <i class="ion-ios-arrow-forward"></i></a></span><span class="mr-2"><a href="">{{mat.nombre}}<i class="ion-ios-arrow-forward"></i></a></span><span class="mr-2"><a href="">Foto<i class="ion-ios-arrow-forward"></i></a></span></p>
            </div>
        </div>
    </div>
</section>
<!--FIN HEADER -->


<div id="reg" class="container p-4">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card">
                <div class="card-header" align="center">
                    <h3 id="titulo">{{ title }}</h3>
                </div>
                <div class="card-body">
                    <form id="formFoto" enctype="multipart/form-data" method="POST" action="/admin/foto/guardar">
                        <div class="form-group">
                            <b><div class="panel-heading">{{mat.nombre}}</div></b   >
                        </div>
                        <div class="form-group">
                            <label for="foto">Seleccione la Imagen a subir</label><br>
                            <input type="hidden" value="{{mat.external_id}}" name="external"/>
                            <input type="file" id="archivo" name="archivo"/><br>
                            <br>
                            <div align="center">
                                <input type="submit" class="btn btn-primary" value="SUBIR FOTO"/>
                                <a href="/admin/lista/cursos" class="btn btn-danger">Cancelar</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .card-header{
        color: #000;
        font-family: 'Bree Serif', serif; 
    }
    .form-group{
        color: #000;
        font-family: 'Bree Serif', serif;
    }
</style>