<div id="reg" class="container p-5">
    <div class="row">
        <div class="col-md-9 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3 id="titulo">{{ title }}</h3>
                </div>
                <div class="card-body">
                    <form id="test" method="POST" action="/admin/pregunta/modificar">
                        <input type="hidden" name="preg" id="preg" class="form-control" value="{{pregunta.external_id}}">
                        <div class="form-group">
                            <label for="pregunta">Pregunta</label>
                            <input type="text" name="pregunta" id="pregunta" class="form-control" value="{{pregunta.pregunta}}" autofocus>
                        </div>
                        {{#each pregunta.respuestas}}
                        <div class="form-group">
                            <label for="respuesta">Respuesta</label>
                            <input type="text" name="respuesta{{@index}}" id="respuestaC" class="form-control" value="{{respuesta}}">
                        </div>
                        {{/each}}
                        <div class="col-md-9 mx-auto p-4">
                            <div class="form-group">
                                <button class="btn btn-success btn-block">Guardar</button>
                            </div>
                            <div class="form-group">
                                <a href="/admin/pregunta/registro/{{pregunta.test.external_id}}" class="btn btn-danger btn-block">Cancelar</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div> 

<style>
    #titulo{
        color: #000;
        font-family: 'Bree Serif', serif;
    }
    #reg{
        color: #000;
        font-family: 'Bree Serif', serif;
    }
    .my-error-class {
        color:#FF0000;  /* red */
        font-family: 'Bree Serif', serif;
    }
    .my-valid-class {
        color:#00CC00; /* green */
        font-family: 'Bree Serif', serif;
    }
</style>

<script>
    $(document).ready(function () {
        agregarRespuesta();
        agregarPregunta();
        $("#tablaP").hide();
        mostrar();
        pregunta();

    });
    function mostrar() {
        $("#mostrarPreguntas").click(function () {
            $("#tablaP").show();
            var tabla;
        });
    }

    function agregarRespuesta() {
        $("#nuevoRespuesta").click(function () {
            var num = $("#num").val();
            var preg = parseInt(num);
            preg++;
            if (num < 4) {
                var a = '';
                var s = '';
                a += 'Respuestas Alternas';
                s += '<input type="text" class="form-control" id="respuesta' + preg + ' name="respuesta' + preg + '" style="width: 204px" placeholder="Respuesta alterna">';
                s += '<input type="hidden" name="estado" id="estado" value="I" class="form-check-input" style="width: 20px">';
                $("#bt").append(s);
                num++;
                $("#num").val(num);
                $("#resp").html(a);
            } else {
                var mensaje = 'No se puede registrar mas de 4 respuestas por pregunta';
                $("#mensajeR").html('<h6 class="alert alert-danger m-2">' + mensaje + '</h6>');
            }
        });
    }
    function pregunta() {
        $("#pregunta").click(function () {
            aggPregunta();
        });
    }
</script>

<script src="../../../controladores/utilidades.js"></script>