<script>
    function validar() {
        $("#test").validate({
            rules: {
                pregunta: {
                    required: true,
                    minlength: 4
                },
                respuestaC: {
                    required: true

                },
                respuestaI1: {
                    required: true
                },
                respuestaI2: {
                    required: true
                },
                respuestaI3: {
                    required: true

                }
            }
        });
    }
    $(document).ready(function () {
        validar();
        var l = parseInt($('#longi').val());
        for (var i = 0; i < l; i++) {
            $('#t'+i).html(i+1);
        }
    });
</script>
<section class="hero-wrap hero-wrap-2" style="background-image: url('/images/bg_3.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-2 bread">Test</h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="/">Principal <i class="ion-ios-arrow-forward"></i></a></span> <span class="mr-2"><a href="/admin/lista/nivel/{{test.nivel.materia.external_id}}">{{test.nivel.materia.nombre}}<i class="ion-ios-arrow-forward"></i></a></span><span class="mr-2"><a href="/admin/contenido/presentar/{{test.nivel.external_id}}">Nivel {{test.nivel.nro}} <i class="ion-ios-arrow-forward"></i></a></span><span>Test <i class="ion-ios-arrow-forward"></i></span></p>
            </div>
        </div>
    </div>
</section>
<div class="container" style="margin-top: 20px;">
    <div class="panel panel-primary">
        <div class="panel-heading" align="center"><h4>Listado de Preguntas</h4></div>
        <div class="panel-body">
            <!--modal-->
            <div class="modal fade" tabindex="-1" role="dialog" id="modal">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header primary">
                            <h4 class="modal-title">Registro de Preguntas</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            <form id="test" method="POST" action="/admin/pregunta/guardar">
                                <input type="hidden" name="test" id="test" class="form-control"
                                       value="{{test.external_id}}">
                                <div class="form-group " align="center">
                                    <label for="pregunta" ><strong>Pregunta</strong></label>
                                    <input type="text" name="pregunta" id="pregunta" class="form-control"
                                           placeholder="Ingrese pregunta" autofocus>
                                </div>
                                <div class="form-group" align="center">
                                    <label for="respuesta" style="color:#00FF00 "><strong>Respuesta</strong></label>
                                    <input type="text" name="respuestaC" id="respuestaC" class="form-control"
                                           placeholder="Ingrese su respuesta correcta">
                                    <small id="respuestaHelp" class="form-text " style="color: orange"><strong>Ingrese sus Respuestas Incorrectas</strong></small>
                                    <input type="hidden" name="estado" id="estado" value="C" class="form-check-input"
                                           style="width: 20px">
                                </div>
                                <div class="form-group">
                                    <div id="bt" class="input-group input-group-sm">
                                        <input type="text" class="form-control" id="respuestaI1" name="respuestaI1"
                                               style="width: 204px" placeholder="Respuesta alterna">
                                        <input type="hidden" name="estadoI1" id="estadoI1" value="I"
                                               class="form-check-input" style="width: 20px">
                                        <input type="text" class="form-control" id="respuestaI2" name="respuestaI2"
                                               style="width: 204px" placeholder="Respuesta alterna">
                                        <input type="hidden" name="estadoI2" id="estadoI2" value="I"
                                               class="form-check-input" style="width: 20px">
                                        <input type="text" class="form-control" id="respuestaI3" name="respuestaI3"
                                               style="width: 204px" placeholder="Respuesta alterna">
                                        <input type="hidden" name="estadoI3" id="estadoI3" value="I"
                                               class="form-check-input" style="width: 20px">
                                    </div>
                                </div>

                                <div class="col-md-9 mx-auto p-4">
                                    <div class="form-group">
                                        <button class="btn btn-success btn-block">Registrar</button>
                                    </div>
                                    <div class="form-group">
                                        <button type="button" class="btn btn-danger btn-block" data-dismiss="modal" aria-label="Close">
                                            Cancelar
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
            <!-- fin modal -->
            <div class="panel">
                <div class="panel-body p-4">
                    <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#modal"> + Agregar Pregunta </a>
                </div>
            </div>
            <input type="hidden" id="longi" value="{{long}}"> 
            <table class="table">
                <thead  align="center">
                    <tr>
                        <th>#</th>
                        <th>Pregunta</th>
                        <th>Estado</th>
                        <th>Respuesta</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody  align="center"> 
                    {{#each preguntas}}
                    <tr>
                        {{#if estado}}
                        <td >
                            <strong id="t{{@index}}"></strong>
                        </td>
                        <td>
                            {{pregunta}}
                        </td>
                        <td>
                            Activo
                        </td>
                        <td>
                            {{#each respuestas}}
                            {{respuesta}},
                            {{/each}}
                        </td>
                        <td>
                            <a href="/admin/pregunta/darBaja/{{external_id}}" class="btn btn-danger">Dar Baja</a>
                        </td>
                        {{else}}
                        <td>
                            {{this.id}}
                        </td>
                        <td>
                            {{pregunta}}
                        </td>
                        <td>
                            Inactiva
                        </td>
                        <td>
                            {{#each respuestas}}
                            {{respuesta}}
                            {{/each}}
                        </td>
                        <td>
                            <a href="/admin/pregunta/darAlta/{{external_id}}" class="btn btn-warning">Dar Alta</a>
                        </td>
                        {{/if}}
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>

<style>label.error { float: none; color: red; padding-left: .5em; vertical-align: middle; font-size: 12px; }</style>