<section class="hero-wrap hero-wrap-2" style="background-image: url('/images/bg-6.jpg');" aria-expanded="false">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-2 bread">Nuestros Cursos</h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="/">Principal <i class="ion-ios-arrow-forward"></i></a></span> <span class="mr-2"><a href="/admin/lista/cursos">Materias <i class="ion-ios-arrow-forward"></i></a></span><span class="mr-2"><a href="/admin/lista/nivel/{{test.nivel.materia.external_id}}">{{test.nivel.materia.nombre}} <i class="ion-ios-arrow-forward"></i></a></span> <span>Nivel {{tes.nivel.nro}}<i class="ion-ios-arrow-forward"></i></span><span class="mr-2"><a href=""> Test<i class="ion-ios-arrow-forward"></i></a></span></p>
            </div>
        </div>
    </div>
</section>
{{#if rol}}
<div class="m-2" align="center">
    <a href="/admin/pregunta/registro/{{test.nivel.external_id}}"><button class="btn btn-outline-primary p-3 mx-3">+ Agregar Preguntas</button></a>
</div>
{{/if }}
<div class="container m-6 p-8" >
    <form name="form" id="form" method="POST" action="/admin/progreso/guardar">
        <input type="hidden" id="test" name="test" value="{{test.external_id}}">
        <input type="hidden" id="longi" name="longi" value="{{long}}">
        {{#each preguntas}}
        <div class="card">
            <div class="card-head" align="center" >
                <div id="p-{{@index}}" >
                    <h5 class="alert alert-secondary" >Conteste la siguiente pregunta:</h5>
                </div>
                {{pregunta}}
            </div>
            {{#each respuestas}}
            <div class="card-body mx-2 p-2">
                <div class="custom-control custom-radio">
                    <label for="res">{{respuesta}}</label>
                    <input type="radio" id="p-{{id_pregunta}}-r-{{@index}}" name="respuesta-{{@../index}}"    
                           value="{{valor}}" required>
                </div>
            </div>
            {{/each}}
        </div>
        {{/each}}
        <div class="form-group">
            <input type="hidden" id="nota" name="nota">
        </div>
    </form>
    <div align="center">
        <div class="form-group" id="testN">

        </div>
    </div>


    <div align="center">
        <div class="form-group" id="reload">
            <button class="btn btn-success p-2" id="enviar" >Calcular Resultados</button>
            <a href="/admin/contenido/presentar/{{test.nivel.external_id}}" class="btn btn-danger">Cancelar</a>
        </div>
    </div>

</div>

<script>
    function recargar() {
        location.reload();
    }
    $(document).ready(function () {


        $('#enviar').click(function () {

            if (check()) {
                notaDiez();
                setTimeout(
                        function ()
                        {

                            $('#form').submit();
                        }, 10000);

                $('#enviar').html('<span class="spinner-border spinner-border-sm mr-2"></span>Guadando Resultados');
                $('#enviar').attr("disabled","true");
                $('#reload').append('<button class="btn btn-success p-2" id="re" onclick="recargar()" >Intentar otra vez </button>');
            }

        });
    });
    function notaDiez() {
        var nota = parseInt(0);
        var long = parseInt($("#longi").val());
        for (var i = 0; i < long; i++) {
            var eva = $("input[name=respuesta-" + i + "]:checked").val();
            if (eva === 'C') {
                nota++;
            }
        }
        nota = ((nota * 10) / long);
        nota = nota.toFixed(2); 
        $("#nota").val(nota);
        $("#testN").html('<h4 ><strong>Tu nota es ' + nota + '/10 </strong></h4>');
    }
    function check() {
        var nota = parseInt(0);
        var long = parseInt($("#longi").val());
        for (var i = 0; i < long; i++) {
            var eva = $("input[name=respuesta-" + i + "]:checked").val();
            if (eva !== undefined) {
                nota++;
            } else {
                $('#p-' + i).html('<h4 class="alert alert-secondary" style="color: red" ><strong>Conteste la siguiente pregunta</strong></h4>');
            }
        }
        return nota === long;
    }


</script>