<!--INIT HEADER-->
<section class="hero-wrap hero-wrap-2" style="background-image: url('/images/bg_1.jpg');" aria-expanded="false">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-2 bread">Niveles</h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="/">Principal <i class="ion-ios-arrow-forward"></i></a></span> <span class="mr-2"><a href="/admin/lista/cursos">Materias <i class="ion-ios-arrow-forward"></i></a></span><span class="mr-2"><a href="/admin/lista/cursos">Listado Materias<i class="ion-ios-arrow-forward"></i></a></span><span class="mr-2"><a href="">{{mat.nombre}}<i class="ion-ios-arrow-forward"></i></a></span></p>
            </div>
        </div>
    </div>
</section>
<!--FIN HEADER -->

<!--INICIO NIVELES-->
<section class="ftco-section" style="background-image: url(/uploads/{{mat.foto}});">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
            <div class="col-md-8 text-center heading-section ftco-animate">
                <h3 class="heading"><strong>{{mat.nombre}}</strong></h3>  
                {{#if rol}}
                <a href="/admin/registro/nivel/{{mat.external_id}}">
                    <button class="btn btn-success"><strong> + Agregar Nivel</strong></button>
                </a>
                <div class="card-title p-4" align="center">
                    {{#if niveles}}
                    <span class="btn btn-info">Selecione un nivel para empezar</span>
                    {{else}}
                    <span class="btn btn-info">Añada niveles para empezar</span>
                    {{/if}}
                </div>
                {{/if}}
                {{#if rol}}
                {{else}}
                <span class="btn btn-info">Selecione un nivel para empezar</span>
                {{/if}} 
            </div>
        </div>
        {{#if rol}}
        <div class="list-group warning heading-section ftco-animate">
            {{#each niveles}}
            {{#if estado}}
            <div class="btn-group">
                <div class="btn btn-primary btn-lg" >
                    <span class="badge badge-pill badge-light"><a href="/admin/contenido/presentar/{{external_id}}" class="btn btn-block">Nivel {{nro}}</a></span>
                    <a href="/admin/nivel/modificar/{{external_id}}" ><span class="btn btn-light">Modificar Nivel</span></a>
                    <a href="/admin/nivel/baja/{{external_id}}"><span class="btn btn-dark">Dar Baja</span></a>
             <!--       {{#if test}}
                    <a href="/admin/test/modificar/{{test.external_id}}"><span class="btn btn-light"> Editar  Test</span></a>
                    {{else}}
                    <a href="/admin/test/registro/{{external_id}}"><span class="btn btn-light"> Agregar Test</span></a>
                    {{/if}}
             -->
                </div>
            </div>
            <div class="dropdown-divider"></div>
            {{else}}
            <div class="btn-group">
                <div class="btn btn-dark btn-lg">
                    <span class="btn btn-dark">Nivel {{nro}}</span>
                    <a href="/admin/nivel/alta/{{external_id}}"><span class="btn btn-light">Dar Alta</span></a>
                </div>
            </div>
            <div class="dropdown-divider"></div>
            {{/if}}
            {{/ each}}
        </div>
        {{else}}
        <div class="list-group warning heading-section ftco-animate">
            {{#each niveles}}
            {{#if estado}}
            <div class="btn-group">
                <div class="btn btn-primary btn-lg" >
                    <span class="badge badge-pill badge-light"><a href="/admin/contenido/presentar/{{external_id}}" class="btn btn-block">Nivel {{nro}}</a></span>
                </div>
            </div>
            <div class="dropdown-divider"></div>
            {{/if}}
            {{/ each}}
        </div>
        {{/if}} 
    </div>
</section>
<!--FIN NIVELES-->



