<script>
    $(document).ready(function () {
        $("#formNivel").validate({
            errorClass: "my-error-class",
            validClass: "my-valid-class",
            rules: {
                nro: {
                    required: true
                },
                nombre: {
                    required: true,
                    minlength: 4,
                    maxlength: 50
                },
                descripcion: {
                    required: true,
                    minlength: 4,
                    maxlength: 100
                }
            },
            messages: {
                nombre: {
                    required: "Ingrese sus nombres completos",
                    minlength: "Minimo 4 caracteres",
                    maxlength: "Máximo 50 caracteres"
                },
                descripcion: {
                    required: "Ingrese sus nombres completos",
                    minlength: "Minimo 4 caracteres",
                    maxlength: "Máximo 100 caracteres"
                }
            }
        });
    });
</script>

<!--INIT HEADER-->
<section class="hero-wrap hero-wrap-2" style="background-image: url('/images/bg_1.jpg');" aria-expanded="false">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-2 bread">Niveles</h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="/">Principal <i class="ion-ios-arrow-forward"></i></a></span> <span class="mr-2"><a href="/admin/lista/cursos">Materias <i class="ion-ios-arrow-forward"></i></a></span><span class="mr-2"><a href="/admin/lista/nivel/{{niv.materia.external_id}}">{{niv.materia.nombre}}<i class="ion-ios-arrow-forward"></i></a></span><span class="mr-2"><a href="">Modificar Nivel<i class="ion-ios-arrow-forward"></i></a></span></p>
                </div>
        </div>
    </div>
</section>
<!--FIN HEADER -->
<div class="container p-5">
    <div class="row">
        <div class="col-md-5 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3>{{ title }}</h3>
                </div>
                <div class="card-body">
                    <form id="formNivel" method="POST" action="/admin/modificar/nivel">
                        <div class="form-group">
                            <input type="hidden" name="nivel" id="materia" value="{{niv.external_id}}" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="nro">Numero</label>
                            <input type="text" name="nro" id="nro" value="{{niv.nro}}" class="form-control"
                                   placeholder="Ingrese el numero" readonly>
                        </div>
                        <div class="form-group">
                            <label for="nombre">Nombre</label>
                            <input type="text" name="nombre" id="nombre" class="form-control"
                                   placeholder="Ingrese el nombre del nivel" value="{{niv.nombre}}" autofocus>
                        </div>
                        <div class="form-group">
                            <label for="descripcion">Descripción</label>
                            <textarea name="descripcion" id="descripcion" rows="2" class="form-control"
                                      placeholder="Ingrese una descripción del nivel" >{{niv.descripcion}}</textarea>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">Modificar</button>
                        </div>
                        <div class="form-group">
                            <a href="/admin/lista/nivel/{{niv.materia.external_id}}" class="btn btn-danger btn-block">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .card-header{
        color: #000;
        font-family: 'Bree Serif', serif;
    }
    .card-body{
        color: #000;
        font-family: 'Bree Serif', serif;
    }
    .my-error-class {
        color:#FF0000;  /* red */
        font-family: 'Bree Serif', serif;
    }
    .my-valid-class {
        color:#00CC00; /* green */
        font-family: 'Bree Serif', serif;
    }
</style>
