<script>
    $(document).ready(function () {
        $("#test").validate({
            errorClass: "my-error-class",
            validClass: "my-valid-class",
            rules: {
                nombre: {
                    required: true,
                    minlength: 4,
                    maxlength: 45
                }
            },
            messages: {
                nombre: {
                    required: "Ingrese sus nombres completos",
                    minlength: "Minimo 4 caracteres",
                    maxlength: "Máximo 45 caracteres"
                }
            }
        });
    });
</script>

<div id="reg" class="container p-5">
    <div class="row">
        <div class="col-md-5 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3 id="titulo">{{ title }}</h3>
                </div>
                <div class="card-body">
                    <form id="test" method="POST" action="/admin/test/guardar">
                        <input type="hidden" name="nivel" id="nivel" class="form-control" value="{{nivel.external_id}}">
                        <div class="form-group">
                            <label for="nombre">Titulo del Test</label>
                            <input type="text" name="nombre" id="nombre" class="form-control" placeholder="Ingrese el nombre del Test" autofocus>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">Registrar</button>
                        </div>
                        <div class="form-group">
                            <a href="/admin/contenido/presentar/{{nivel.external_id}}" class="btn btn-danger btn-block">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    #titulo{
        color: #000;
        font-family: 'Bree Serif', serif;
    }
    #reg{
        color: #000;
        font-family: 'Bree Serif', serif;
    }
    .my-error-class {
        color:#FF0000;  /* red */
        font-family: 'Bree Serif', serif;
    }
    .my-valid-class {
        color:#00CC00; /* green */
        font-family: 'Bree Serif', serif;
    }
</style>
