
<!--contenido cuerpo -->
{{# if user}}
<html lang="es">  
    <head> 
        <link href="http://dominio.com/hoja-de-estilos.css" rel="stylesheet" type="text/css"/> 
        <title>Comienza tu aprendizaje</title>    
        <meta charset="UTF-8">
        <meta name="title" content="Estapa Infantil">
        <meta name="description" content="Enseñanza">    
        <link href="http://dominio.com/hoja-de-estilos.css" rel="stylesheet" type="text/css"/>    
    </head>     
        <div class="intro-section" id="home-section">
            <div class="slide-1" style="background-image: url('https://cdn.pixabay.com/photo/2018/03/18/21/42/lifestyle-3238401__340.jpg');" data-stellar-background-ratio="0.5">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-12">
                            <div class="row align-items-center">
                                <div class="col-lg-6 mb-4">
                                    <h1  data-aos="fade-up" data-aos-delay="100">Comienza tu aprendizaje</h1>
                                    <p class="mb-4"  data-aos="fade-up" data-aos-delay="200" style="color:#FFFFFF" >"Los niños son seres inocentes, indefensos y vulnerables, por lo que hay que preservarlos del mundo de los adultos para que no se estropeen o contaminen".</p>
                                    <p data-aos="fade-up" data-aos-delay="300"><a href="/admin/registro/cursos" class="btn btn-primary py-3 px-5 btn-pill">Comienza</a></p>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="site-section" id="teachers-section">
            <div class="container">

                <div class="row mb-5 justify-content-center">
                    <div class="col-lg-7 mb-5 text-center"  data-aos="fade-up" data-aos-delay="">
                        <h2 class="section-title" style="color:#00FF00" >Para Niños Pequeños y Grandes</h2>
                        <p class="mb-5" style="color:#000000">Para que un niño se convierta en una persona de bien con justicia y amor debemos ayudarle a reflexionar y pensar sobre el futuro. Y sobre su conducta, ya que si bien es cierto los niños son inciertos también son las personas más bonitas y tiernas de este mundo.</p>
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-6 col-lg-4 mb-4" data-aos="fade-up" data-aos-delay="100">
                        <div class="teacher text-center">
                            <img src="https://cdn.pixabay.com/photo/2015/06/22/08/40/child-817373__340.jpg" alt="Image" class="img-fluid w-50 rounded-circle mx-auto mb-4">
                            <div class="py-2">
                                <h3 class="text-black"  style="color:#800000" >Sueños</h3>
                                <p class="position"  style="color:#0000FF" >Niño</p>
                                <p  style="color:#000000" > Puedes pensar que hoy eres pequeño, y quieres ser grande pronto, pero disfruta el proceso porque un día querrás volver a ser pequeño.</p>
                                <p><a href="https://www.guiainfantil.com/articulos/salud/sueno/diccionario-de-los-suenos-de-los-ninos/" class="btn btn-secondary px-4 py-3">Leer mas</a></p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4 mb-4" data-aos="fade-up" data-aos-delay="200">
                        <div class="teacher text-center">
                            <img src="https://cdn.pixabay.com/photo/2015/06/22/08/37/children-817365__340.jpg" alt="Image" class="img-fluid w-50 rounded-circle mx-auto mb-4">
                            <div class="py-2">
                                <h3 class="text-black" style="color:#800000" >Curiosidades</h3>
                                <p class="position"  style="color:#0000FF" >Los niños de Luz</p>
                                <p style="color:#000000">Los niños alumbran la vida de los adultos y en muchas ocasiones les enseñan muchas lecciones vitales para llevar una vida divertida, de aprendizaje, curiosa y feliz</p>
                                <p><a href="https://coralmujaes.com/ninos-de-luz/" class="btn btn-secondary px-4 py-3">Leer mas</a></p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4 mb-4" data-aos="fade-up" data-aos-delay="300">
                        <div class="teacher text-center">
                            <img src="https://cdn.pixabay.com/photo/2016/03/07/09/34/kid-1241817__340.jpg" alt="Image" class="img-fluid w-50 rounded-circle mx-auto mb-4">
                            <div class="py-2">
                                <h3 class="text-black" style="color:#800000">Felicidad</h3>
                                <p class="position" style="color:#0000FF" >Los niños</p>
                                <p style="color:#000000">La infancia es un momento de la vida que la mayor parte de las personas recuerdan con nostalgia y alegría, es una etapa de juegos, conocimientos, amigos, familia y mucha diversión.</p>
                                <p><a href="https://www.guiainfantil.com/blog/educacion/valores/que-es-la-felicidad-para-los-ninos/" class="btn btn-secondary px-4 py-3">Leer mas</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="site-section bg-image overlay" style="background-image: url('https://cdn.pixabay.com/photo/2015/04/27/11/48/sign-741813__340.jpg');">
            <div class="container">
                <div class="row justify-content-center align-items-center">
                    <div class="col-md-8 text-center testimony">
                        <img src="https://cdn.pixabay.com/photo/2016/08/01/06/51/people-1560569__340.jpg" alt="Image" class="img-fluid w-25 mb-4 rounded-circle">
                    </div>
                </div>
            </div>
        </div>

        <div class="site-section pb-0">
            <div class="row">
                <div class="col-lg-4 ml-auto align-self-start"  data-aos="fade-up" data-aos-delay="100">

                    <div class="p-4 rounded bg-white why-choose-us-box">

                        <div class="d-flex align-items-center custom-icon-wrap custom-icon-light mb-3">
                            <div class="mr-3"><span class="custom-icon-inner"><span class="icon icon-graduation-cap"></span></span></div>
                            <div><h3 class="m-0">Lucha por tus sueños</h3></div>
                        </div>

                        <div class="d-flex align-items-center custom-icon-wrap custom-icon-light mb-3">
                            <div class="mr-3"><span class="custom-icon-inner"><span class="icon icon-university"></span></span></div>
                            <div><h3 class="m-0">El futuro te espera</h3></div>
                        </div>

                        <div class="d-flex align-items-center custom-icon-wrap custom-icon-light mb-3">
                            <div class="mr-3"><span class="custom-icon-inner"><span class="icon icon-graduation-cap"></span></span></div>
                            <div><h3 class="m-0">Juntos por el mañana</h3></div>
                        </div>

                        <div class="d-flex align-items-center custom-icon-wrap custom-icon-light mb-3">
                            <div class="mr-3"><span class="custom-icon-inner"><span class="icon icon-university"></span></span></div>
                            <div><h3 class="m-0">Por mas sonrrisas</h3></div>
                        </div>

                        <div class="d-flex align-items-center custom-icon-wrap custom-icon-light mb-3">
                            <div class="mr-3"><span class="custom-icon-inner"><span class="icon icon-graduation-cap"></span></span></div>
                            <div><h3 class="m-0">Los mejores amigos</h3></div>
                        </div>

                        <div class="d-flex align-items-center custom-icon-wrap custom-icon-light">
                            <div class="mr-3"><span class="custom-icon-inner"><span class="icon icon-university"></span></span></div>
                            <div><h3 class="m-0">Niños felices</h3></div>
                        </div>

                    </div>


                </div>
                <div class="col-lg-7 align-self-end"  data-aos="fade-left" data-aos-delay="200">
                    <img src="https://cdn.pixabay.com/photo/2015/08/05/13/54/happy-children-876541__340.jpg" alt="Image" class="img-fluid">
                </div>
            </div>
        </div>
        <br>
    </body>  
</html>

{{else}}
<section id="ruleta" class="home-slider owl-carousel">
    <div class="slider-item" style="background-image:url(/images/bg_1.jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
                <div class="col-md-8 text-center ftco-animate">
                    <h1 class="mb-4">Los Niños son los <span>mejores exploradores del mundo</span></h1>
                </div>
            </div>
        </div>
    </div>
    <div class="slider-item" style="background-image:url(/images/bg_2.jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
                <div class="col-md-8 text-center ftco-animate">
                    <h1 class="mb-4">Enseñanza <span> para su hijo</span></h1>
                </div>
            </div>
        </div>
    </div>
</section>

<!--inicio seccion de contenido -->
<section id="contenido" class="ftco-services ftco-no-pb">
    <div class="container-wrap">
        <div class="row no-gutters">
            <div class="col-md-3 d-flex services align-self-stretch pb-4 px-4 ftco-animate bg-primary">
                <div class="media block-6 d-block text-center">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span class="flaticon-teacher"></span>
                    </div>
                    <div class="media-body p-2 mt-3">
                        <h3 class="heading">Profesores Certificados</h3>
                        <p>Un profesor para pocos alumnos</p>
                    </div>
                </div>      
            </div>
            <div class="col-md-3 d-flex services align-self-stretch pb-4 px-4 ftco-animate bg-tertiary">
                <div class="media block-6 d-block text-center">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span class="flaticon-reading"></span>
                    </div>
                    <div class="media-body p-2 mt-3">
                        <h3 class="heading">Educacion Especial</h3>
                        <p>Educacion con varios niveles de enseñanza</p>
                    </div>
                </div>    
            </div>
            <div class="col-md-3 d-flex services align-self-stretch pb-4 px-4 ftco-animate bg-fifth">
                <div class="media block-6 d-block text-center">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span class="flaticon-books"></span>
                    </div>
                    <div class="media-body p-2 mt-3">
                        <h3 class="heading">Contenido Virtual</h3>
                        <p>Interaccion con los contenidos</p>
                    </div>
                </div>      
            </div>
            <div class="col-md-3 d-flex services align-self-stretch pb-4 px-4 ftco-animate bg-quarternary">
                <div class="media block-6 d-block text-center">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span class="flaticon-diploma"></span>
                    </div>
                    <div class="media-body p-2 mt-3">
                        <h3 class="heading">Certificación</h3>
                        <p>Los mejores contenidos libres de publicidad</p>
                    </div>
                </div>      
            </div>
        </div>
    </div>
</section>
<!--FIN seccion de contenido -->

<!--INICIO contenido cuerpo -->
<section id="cuerpo" class="ftco-section ftco-no-pt ftc-no-pb">
    <div class="container">
        <div class="row">
            <div class="col-md-5 order-md-last wrap-about py-5 wrap-about bg-light">
                <div class="text px-4 ftco-animate">
                    <h2 class="mb-4">Bienvenidos</h2>
                    <p>En el aprendizaje están involucrados el cerebro, los sentidos, la edad, la carga genética y las emociones, entre otros factores. El cerebro es el órgano que dirige y coordina todo lo anterior y lo hace de una manera integral, ya que no existe un área determinada que se dedique a tal actividad en específico.</p>
                    <!--<p>Por separado viven en Bookmarksgrove, en la costa de la Semántica, un gran océano de lenguas. Un pequeño río llamado Duden fluye por su lugar y le suministra los regelialia necesarios. Y si no ha sido reescrita, entonces todavía la están usando.</p>-->
                    <p><a href="https://www.bbmundo.com/ninos-toddlers/como-aprenden-los-ninos/" class="btn btn-secondary px-4 py-3">Leer mas</a></p>
                </div>
            </div>
            <div class="col-md-7 wrap-about py-5 pr-md-4 ftco-animate">
                <h2 class="mb-4">Lo que ofrecemos</h2>
                <p>La educación on-line, es una modalidad de la educación a distancia, que utiliza Internet con todas sus herramientas tecnológicas de la información y la comunicación para realizar el proceso de enseñanza-aprendizaje.</p>
                <div class="row mt-5">
                    <div class="col-lg-6">
                        <div class="services-2 d-flex">
                            <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-security"></span></div>
                            <div class="text">
                                <h3>Seguridad</h3>
                                <p>Agregar contenido</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="services-2 d-flex">
                            <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-diploma"></span></div>
                            <div class="text">
                                <h3>Contenido Virtual</h3>
                                <p>Agregar contenido</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="services-2 d-flex">
                            <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-jigsaw"></span></div>
                            <div class="text">
                                <h3>Lecciones Creativas</h3>
                                <p>Agregar contenido</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="services-2 d-flex">
                            <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-kids"></span></div>
                            <div class="text">
                                <h3>Ejercicios</h3>
                                <p>Agregar contenido</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--INICIO TOMA-CURSO-->
<section id="curso" class="ftco-intro" style="background-image: url(/images/bg_3.jpg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h2>Aprender es emoción</h2>
                <p class="mb-0"style="color:#000000">El aprendizaje no depende únicamente del cerebro y los sentidos, también hay fuertes cambios emocionales que los afectan, pues nuestras acciones están enfocadas a tratar de resolver los conflictos que se nos presentan..</p>
            </div>
            <div class="col-md-3 d-flex align-items-center">
                <p class="mb-0"><a href="/inicio_sesion" class="btn btn-secondary px-4 py-3">Toma un Curso</a></p>
            </div>
        </div>
    </div>
</section>
<!--FIN TOMA-CURSO-->
{{/if}}

INICIO GALERIA
<section class="ftco-gallery">
    <div class="container-wrap">
        <div class="row no-gutters">
            <div class="col-md-3 ftco-animate">
                <a href="/images/image_1.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(/images/image_1.jpg);">
                    <div class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-instagram"></span>
                    </div>
                </a>
            </div>
            <div class="col-md-3 ftco-animate">
                <a href="/images/image_2.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(/images/image_2.jpg);">
                    <div class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-instagram"></span>
                    </div>
                </a>
            </div>
            <div class="col-md-3 ftco-animate">
                <a href="/images/image_3.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(/images/image_3.jpg);">
                    <div class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-instagram"></span>
                    </div>
                </a>
            </div>
            <div class="col-md-3 ftco-animate">
                <a href="/images/image_4.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(/images/image_4.jpg);">
                    <div class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-instagram"></span>
                    </div>
                </a>
            </div>

        </div>
    </div>
</section>
<!--INICIO GALERIA-->
<style>
    #ruleta{
        font-family: 'Bree Serif', serif;
    }
    #contenido{
        color: black;
        font-family: 'Bree Serif', serif;
    }
    #cuerpo{
        color: black;
        font-family: 'Bree Serif', serif;
    }.center {
        text-align: center;
        border: 3px solid green;
    }
    #curso{
        font-family: 'Bree Serif', serif;
    }
</style>